<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Lightning Blog</title>
</head>

<body>

<h2><b>Lightning Blog</b></h2><br>

<b>* New Posting</b><br>

<form method="POST" action="./submit">
<input type="hidden" name="id" value="{$row.id}">

<table border=0>
	<tr>
		<td>Title</td>
		<td><input type="text" name="title" value="{$row.title}" size=50 maxlength=128></td>
	</tr>
	<tr>
		<td>Body</td>
		<td><textarea name="body" rows=6 cols=50>{$row.body}</textarea></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" value="Post"></td>
	</tr>
</table>

</form>

<br>

</body>
</html>
